<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Parametros Globales -->
    <add key="proxy" value="http://10.255.237.5:8887"/>

    <!-- MASIVO: Parametros SMS -->
    <add key="userSMS" value="APMTERM"/>
    <add key="passSMS" value="APMTERM740"/>
    <add key="method" value="POST"/>
    <add key="contentType" value="application/x-www-form-urlencoded"/>
    <add key="contentTypeSimple" value="application/html"/>
    <add key="encoding" value="iso-8859-1"/>
    <add key="delay" value="1"/>
    <add key="urlSimple" value="http://servicio.smsmasivos.com.ar/enviar_sms.asp"/>
    <add key="urlMasivo" value="http://servicio.smsmasivos.com.pe/enviar_sms_bloque.asp"/>

    <!-- CONVERGIA: Parametros SMS -->
    <add key="convergia.actionUrl" value="http://api.convergia.com/sms/1/text/single"/>
    <add key="convergia.supportedHttpMethod" value="POST"/>
    <add key="convergia.httpAccept" value="application/json"/>
    <add key="convergia.contentType" value="application/json"/>
    <add key="convergia.authorizationHeaderKey" value="authorization"/>
    <add key="convergia.username" value="APMTERMINALS"/>
    <add key="convergia.password" value="4eUTLZJg"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
