<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <globalization fileEncoding="utf-8" responseHeaderEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-PE" uiCulture="es-PE"/>
  </system.web>
  <system.serviceModel>
    <client />
    <services>
      <service name="APM.SENDSMS.SERVICE.Implementacion.ServiceSMS" behaviorConfiguration="ServiceSMSBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSMS"
          contract="APM.SENDSMS.SERVICE.Contrato.IServiceSMS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceSMS" receiveTimeout="00:25:00"
          sendTimeout="00:25:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceSMSBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
    <!-- Parametros Globales -->
    <add key="proxy" value=""/>
    <add key="sendOver" value="CMOVIL"/> <!-- CONVERGIA || MASIVO || CONCEPTO MOVIL -->
    <add key="url.nlog" value="D:\\logs\\net\\ServiceSMS-${shortdate}.log"/>
    
    <!-- MASIVO: Parametros SMS -->
    <add key="userSMS" value="APMTERM"/>
    <add key="passSMS" value="APMTERM740"/>
    <add key="method" value="POST"/>
    <add key="contentType" value="application/x-www-form-urlencoded"/>
    <add key="contentTypeSimple" value="application/html"/>
    <add key="encoding" value="iso-8859-1"/>
    <add key="delay" value="1"/>
    <add key="urlSimple" value="http://servicio.smsmasivos.com.ar/enviar_sms.asp"/>
    <add key="urlMasivo" value="http://servicio.smsmasivos.com.pe/enviar_sms_bloque.asp"/>    

    <!-- CONVERGIA: Parametros SMS -->
    <add key="convergia.actionUrl" value="http://api.convergia.com/sms/1/text/single"/>
    <add key="convergia.supportedHttpMethod" value="POST"/>
    <add key="convergia.httpAccept" value="application/json"/>
    <add key="convergia.contentType" value="application/json"/>
    <add key="convergia.authorizationHeaderKey" value="authorization"/>
    <add key="convergia.username" value="APMTERMINALS"/>
    <add key="convergia.password" value="4eUTLZJg"/>
  
    <!-- CONCEPTO MOVIL: Parametros SMS -->
    <add key="cmovil.actionUrl" value="https://api.broadcastermobile.com/brdcstr-endpoint-web/services/messaging/"/>
    <add key="cmovil.supportedHttpMethod" value="POST"/>
    <add key="cmovil.httpAccept" value="application/json"/>
    <add key="cmovil.contentType" value="application/json"/>
    <add key="cmovil.authorizationHeaderKey" value="authorization"/>
    <add key="cmovil.apikey" value="509"/>
    <add key="cmovil.dial" value="38383"/> 
    <add key="cmovil.token" value="amq4zWVQOoV5J8pk7Z/DIXNFXgU="/>
  </appSettings>
  <connectionStrings>
    <!-- Parametros BaseDatos Nombrada -->
    <add name="conexionNombrada" connectionString="Server=LAPTOP-M0UM0ME4\\SQLEXPRESS2012;Database=BD_Nombrada;uid=raul;pwd=A1234567$; Integrated Security=False; connect Timeout=60;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>
